<!-- 
Footer: create a twig for a footer
including a parameter that accepts 
- a copyright notice 
- and copyright date 
as parameters. -->
<footer>
    <p class="copyright">{{copyrightNotice}}&nbsp;&copy;{{copyrightDate}}</p>
</footer>