<!-- 
Header/Main Title: Create a twig for the main title that accepts 
- a Title
- optional subtitle
as parameters. -->
<!-- <img class="emojidex-emoji" 
src="https://cdn.emojidex.com/emoji/xhdpi/Pokebola.png" 
emoji-code="Pokebola" alt="Pokebola"/> -->
<header>
    <h1 class=title>{{title}}
    {{logo}}
    </h1>
</header>