<!--
Menu: Create twig for a menu bar, 
that accepts 
- a list of pairs for menu item 
- and respective links 
as a parameter -->

<!-- 
on the PokeDex page, the menu will link to 
- your 5 favorite Pokémon
on the Pokémon Card page the menu should contain
- the main menu
- a google search for the Pokémon
- A link to the Pokémon home page -->
<div class=menubar>
    <ul>
        {% for link in menu %}
          <li><a href="{{link["menuLink"]}}">{{link["menuItem"]}}</a></li>
        {% endfor %}
        {# <li>More>> #}
        {# <form action="{{searchAction}}" method="get"> #}
        {# <input type="text" name="keywordinput"><input type="submit" value="Search"> #}
        {# </li> #}
    </ul>
</div>