<!--
Menu: Create twig for a menu bar, 
that accepts 
- a list of pairs for menu item 
- and respective links 
as a parameter -->

<!-- 
on the PokeDex page, the menu will link to 
- your 5 favorite Pokémon
on the Pokémon Card page the menu should contain
- the main menu
- a google search for the Pokémon
- A link to the Pokémon home page -->
<div class=menubar>
    <ul>
        <li>Pokedex</li>
        <li>My Top 5 Pokemon</li>
    </ul>
</div>