<!-- Pokemon table: Create a twig for your Pokémon table
Should accept the Pokedex table as a parameter
You will need the fetch_all method on the sql result object -->

<table border="{{border}}">
<!-- For table border -->
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type1</th>
            <th>Type2</th>
        </tr>
    </thead>
    <tbody>
        {% for poke in pokes %}
        <tr>
            {% for item in poke %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
