<!-- 
Header/Main Title: Create a twig for the main title that accepts 
- a Title
- optional subtitle
as parameters. -->
<div class="header">

    
        <h1 id="title" class="title">{{title}}</h1>
        <span class="subtitle">{{subtitle}}</span>

</div>