<div class="menubar">
    <div class="hamburger">☰ Menu</div>
        <div class="icon"></div>
    <div class="menus">
        <ul>
            {% for link in menu %}
            <li>
                <a href="{{link["menuLink"]}}">
                    <span>{{link["menuItem"]}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>