@font-face {
  font-family: 'FederationDS9Title';
  src: url('res/DS9_Title.ttf') format('truetype');
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  font-family: "Avenir", "futura lt light", Helvetica, Arial, sans-serif;
  background-image: url(res/3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.back-to-top {
  position: fixed;
  bottom: 5%;
  right: 4%;
  font-size: 2.5em;
}
.back-to-top a {
  color: white;
  transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.back-to-top a:hover {
  color: black;
  text-shadow: 0 -1rem 0 #ffcc00, 0 -0.5rem 0 gray;
}
.back-to-top a:active {
  color: black;
  text-shadow: 0 -0.8rem 0 #ffcc00, 0 -0.6rem 0 rgba(128, 128, 128, 0.7);
}
a {
  text-decoration: none;
  color: #ffcc00;
}
img {
  width: 100%;
}
.header {
  background-color: #17222c;
}
.logo {
  display: inline-block;
  height: 7rem;
  width: 7rem;
}
h1 {
  /* SPACE FLIGHT: */
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 4rem 0;
  margin: 0 auto;
  letter-spacing: 0.1em;
  font-size: 4rem;
  color: #ffcc00;
  /*    line-height: 48px;*/
  /*    text-shadow: -4px 5px 0 rgba(224,147,31,0.5);*/
  font-family: 'FederationDS9Title', Eurpstile, Verdana, sans-serif;
}
h2 {
  font-size: 2.5em;
  text-align: center;
}
.menubar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  background: #17222c;
}
.menubar ul li {
  text-decoration: none;
}
.menubar ul li a {
  border: solid 1px;
  transition: all 150ms ease-out;
  color: #ffcc00;
  background: #17222c;
  font-weight: 500;
  display: inline-block;
  padding: 4px 40px;
  margin: 0 5px;
  transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
}
.menubar ul li a:hover {
  color: #17222c;
  background-color: #ffcc00;
}
.menubar ul li a:active {
  color: #997a00;
}
.menubar ul li a span {
  display: inline-block;
  transform: skew(10deg);
  -o-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -webkit-transform: skew(10deg);
}
.container {
  margin-left: 2em;
  margin-right: 2em;
  padding: 3em 2rem;
  background-color: rgba(23, 34, 44, 0.9);
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  color: lightgray;
  margin: 20px auto;
  max-width: 768px;
}
fieldset {
  border: 2px #ffcc00 solid;
  border-radius: 5px;
  box-sizing: border-box;
}
fieldset legend {
  font-size: x-large;
}
.card {
  margin-left: 2em;
  margin-top: 1.5em;
}
.card img {
  float: left;
  width: 4em;
  height: 4em;
}
.card p {
  margin-left: 5em;
}
@media (max-width: 768px) and (min-width: 470px) {
  .container {
    max-width: none;
    flex-wrap: nowrap;
  }
  .menubar ul {
    flex-direction: column;
    align-items: center;
  }
  .menubar ul a {
    margin: 2px;
  }
  .footer {
    justify-content: center;
  }
}
.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr));
  grid-template-rows: auto;
}
.box {
  background-color: black;
  color: #CDEDF6;
  border-radius: 1px;
  padding: 20px;
  font-size: 120%;
}
.promo-pic {
  filter: brightness(60%);
}
.promo-text {
  font-size: 5rem;
  font-weight: bold;
  color: #CDEDF6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-reg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
