@theme-color: #ffcc00;
@theme-bg: #17222c;
.display-flex(@direction: row, @justify-content: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify-content;
}

@font-face {
  font-family: 'FederationDS9Title';
  src: url('./res/DS9_Title.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: @mint;
  font-family: "Avenir", "futura lt light", Helvetica, Arial, sans-serif;
  background-image: url(res/3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.back-to-top {
  a {
    color: white;
    transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    &:hover {
      color: black;
      text-shadow: 0 -1rem 0 @theme-color, 0 -0.5rem 0 gray; // transform: translate3d(0,-50%,0)
    }
    &:active {
      color: black;
      text-shadow: 0 -0.8rem 0 @theme-color, 0 -0.6rem 0 rgba(128, 128, 128, 0.7);
    }
  }
  position: fixed;
  bottom: 5%;
  right: 4%;
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: @theme-color;
}

img {
  width: 100%;
}

.header {
  background-color: @theme-bg;
}

// .header-box {}
.logo {
  display: inline-block;
  height: 7rem;
  width: 7rem;
}

h1 {
  /* SPACE FLIGHT: */
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 3rem 0 2rem 0;
  margin: 0 auto;
  letter-spacing: 0.1em;
  font-size: 4rem;
  color: @theme-color;
  /*    line-height: 48px;*/
  /*    text-shadow: -4px 5px 0 rgba(224,147,31,0.5);*/
  font-family: 'FederationDS9Title', Eurpstile, Verdana, sans-serif;
}

h2 {
  font-size: 2em;
  text-align: center;
}

.menubar {
  // height: 3rem;// designed for menubar animation
  ul {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    background: @theme-bg;
    li {
      text-decoration: none;
      a {
        border: solid 1px;
        transition: all 150ms ease-out;
        color: @theme-color;
        background: @theme-bg;
        font-weight: 500;
        display: inline-block;
        padding: 4px 40px; //TODO change left right flexible?
        margin: 0 5px;
        transform: skew(-10deg);
        -o-transform: skew(-10deg);
        -moz-transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        &:hover {
          color: @theme-bg;
          background-color: @theme-color; // margin-top: -8px;
        }
        &:active {
          // margin: 0 1px;
          color: darken(@theme-color, 20%);
        }
        span {
          font-size: 0.9em;
          font-weight: lighter;
          display: inline-block;
          transform: skew(10deg);
          -o-transform: skew(10deg);
          -moz-transform: skew(10deg);
          -webkit-transform: skew(10deg); // &:hover {}
        }
      }
    }
  }
}

.container {
  padding: 3em 2rem;
  background-color: rgba(23, 34, 44, 0.9); // border-radius: 10px;
}

.centered {
  .display-flex();
}

.wrapper {
  margin: 0 auto;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
}

.special-word {
  font-weight: bolder;
  color: #fffa97;
  padding: 0 5px;
  background: #454819;
  border-radius: 5px;
  margin: 0 3px;
  text-shadow: none;
  white-space: nowrap;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    div {
      padding: 0 1em;
      margin: 1em;
      // border: solid @theme-color 1px;
      background-color: darken(@theme-bg, 3%)
    }
}

.footer {
  // flex-end
  color: @mint;
  margin: 6em auto;
  max-width: 768px;
}

// contact
fieldset {
  border: 2px @theme-color solid;
  border-radius: 5px;
  box-sizing: border-box;
  legend {
    font-size: x-large;
  }
  textarea {
    width: 100%;
  }
}



.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr)); // grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-template-rows: auto;
}

@mint : #CDEDF6;
.box {
  background-color: black;
  color: #111;
  border-radius: 1px;
  padding: 20px;
  div {
    background: @theme-color;
    margin: 0.1em;
    padding: 0 1em;
    display: table;
  }
}

.promo {
  opacity: 0.8;
  overflow: hidden;
  background-image: url("res/promo.jpg");
  min-height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-text {
  background-color: #111;
  color: #fff;
  padding: 18px;
  letter-spacing: 10px;
  font-size: 2em;
  font-weight: bold;
  color: #CDEDF6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo-detail {
  color: #ccc;
  background-color: #111;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
  h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;
  }
}

.alert {
  color: red;
  display: none;
}

.login-box {
  text-align: center;
}

.history {
  height:320px;
  width:100%;
  overflow:scroll; 
  border: solid @theme-color 1px; 
  overflow-x:hidden
}

.hamburger {
  display: none;
  font-size: 1.2em;
  color: @theme-color;
  &:hover {
    cursor: pointer;
  }
}

.about {

  img {
    width: 50%;
    text-align: center;
  }
  .card {
    margin-left: 2em;
    margin-top: 1.5em;
    img {
      float: left;
      width: 4em;
      height: 4em;
    }
    p {
      margin-left: 5em;
    }
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    background: @theme-bg;
  }
  .menubar ul {
    flex-direction: column;
    li {
      text-align: center;
      a {
        border: none;
      }
    }
  }
  .menus {
    display: none;
  }
  .open {
    color: blue;
    display: block;
  }
  h1 {
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
  }
  .container {
    max-width: none;
    flex-wrap: nowrap;
  }
  .footer {
    justify-content: center;
  }
}

@media (max-width: 470px) {
  .service {
    flex-direction: column;
  }
  .hamburger {
    font-size: 1em;
  }
}