h1 {
  display: flex;
  justify-content: center;
  background: lightblue;
  height: 200px;
}
p {
  margin-top: 50px;
}
nav > * {
  position: absolute;
  width: 200px;
  transform-origin: left top;
  text-align: right;
}
a {
  color: unset;
  text-decoration-color: unset;
}
.item5 {
  background: green;
  color: white;
}
.item4 {
  background: #00b300;
  color: white;
}
.item3 {
  background: #00e600;
  color: white;
}
.item2 {
  background: #1aff1a;
}
.item1 {
  background: #4dff4d;
}
